{
    "printWidth": 180,
    "singleQuote": true,
    "useTabs": false,
    "tabWidth": 2,
    "semi": true,
    "bracketSpacing": true,
    "htmlWhitespaceSensitivity": "ignore",
    "trailingComma": "none",
    "arrowParens": "avoid"
}