.correct {
    background-color: green;
    color: #ffffff;
}
.on-mobile {
    height: 100vh;
}
@media screen and (min-width: 500px) {
    
    .main-app {
        max-width: 500px;
        margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }

    .on-mobile {
        height: auto;
        min-height: 650px;
        max-height: 700px;
    }
       
}

@media screen and (max-width: 500px) {
        .box {padding: 0;}
}